.wrapper {
    max-width: 660px;
    max-height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 30px 65px 30px;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
}

.wrapper .form-field {
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 3px 3px 3px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #FF9400;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #d77e02;
}

/* MEDIA MOBILE */

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 85%;
    }
}

/* ** */

/* MEDIA TABLET */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        width: 50%;
        max-width: 100%;
    }
} 

/* ** */